<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Bienvenido a <%= title %></p>
    <ul>
    	<li><a href="/author"> Autor del proyecto</a></li>
    </ul>
    <p>El portal donde podrá crear sus propios juegos!</p>
    <p><a href="/question">Comience con la búsqueda de preguntas</a></p>
    <footer>
    	<a href="https://github.com/patricia-bravo-martin/Quiz2016"> Página de mi proyecto Quiz en GitHub</a>
    </footer>
  </body>
</html>
