<!DOCTYPE html>
<html>
<head>
	<meta charset= "utf-8">
	<title>Quiz</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
	<h2>Quiz: Buscador de preguntas</h2>
	<form method = "get" action="/quizzes">
		<p>El texto que desea que tengan las preguntas a mostrar es:</p>
		<input type="text" name="search" value= "" placeholder="Introduzca aquí el texto"/>
		<input type= "submit" value="Buscar">
	</form>
</body>
</html>